#carouselExampleFade{
    position: relative;
}
.text-carousel-1{
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 350px;
  width: 100%;
  text-align: center;
}
nav{
padding: 100px;
background-color: #3eae32 !important;
border-bottom: 2px solid white;

}
.card-1{
    padding: 50px;
    text-align: right;
}
h2{
    text-align: center;
}
.card-2{
    padding: 50px;
    text-align: left;
}
.card-3{
    padding: 50px;
    text-align: right;
}
p{
    font-family: 'Indie Flower', cursive;
    color: black;
}
.id{
    float: right;
}
.b{
color: white;
}
.container-1{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr ;
    text-align: justify;
    padding: 70px;
    justify-content: right;
}
.cell-1 {
 text-align: center; 
 padding: 30px;
   
}
.cell-2{
  text-align: justify; 
float: left;
 padding: 50px;
}
.container-2{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr ;
    
    
}
.cell-3{
text-align: justify; 
float: right;
 padding: 50px;
}
.cell-4{
text-align: left;
padding: 30px;
justify-content: right;
}
strong{
color: white;
}
.avila{
    text-align: left;
}
.buttom:hover{
}
.container-fluid{
padding: 0px;
}
#inicio{
float: left;
}
i{
    justify-content: center !important;
}
.card-text-1{
    background-color: rgba($color: white, $alpha: 0.6);
    padding: 3rem;
    border-radius: 1rem;
}
.jumbotron-fluid{
    
}