#carouselExampleFade{
    position: relative;
}
.text-carousel-1{
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 350px;
  width: 100%;
  text-align: center;
}
nav{display: inline-block;
}
footer{
    background-color: green;
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
    font-family: 'Bangers', cursive;
}
.card-1{
    padding: 50px;
    text-align: right;
}
h2{
    text-align: center;
}
.card-2{
    padding: 50px;
    text-align: left;
}
.card-3{
    padding: 50px;
    text-align: right;
}
p{
    font-family: 'Indie Flower', cursive;
    color: black;
}
.id{
    float: right;
}
.b{
color: white;
}
.container-1{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr ;
    padding: 50px;
    

}
.cell-1 {
 text-align: center; 
   
}
.cell-2{
  text-align: justify;
    
    padding: 50px;

}
.container-2{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr ;
    padding: 50px;
    
    
}
.cell-3{
text-align: justify; 
float: right;
 padding: 50px;
}
.cell-4{
text-align: left;
}
strong{
color: white;
}
.avila{
    text-align: left;
}
.buttom:hover{
}
